QScrollBar:vertical {
    border: none;
    background-color: #7998ff;
    width: 15px;
}

QScrollBar::handle:vertical {
    background: #222;
    min-height: 40px;
    border: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

